<%- include("../partials/header") %>
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/forms.css">
</head>
<body>

    <%- include("../partials/navbar") %>
    <% if (user) { %>
        <h1><%= user.name %></h1>
        <% for (var ground of user.campgroundsAdded) { %>
            <h4><%= ground %></h4>
        <% } %>
        <% if (currentUser !== undefined && user.username === currentUser.username) { %>
            <a href="/logout" style="width: 50px;">Logout</a>
        <% } %>
    <% } else { %>
        <h1>No user Found with searched name :(</h1>
    <% } %>

<%- include("../partials/footer") %>