<%- include("../partials/header") %>
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/campsList.css">
    
</head>
<body>

    <%- include("../partials/navbar") %> 

    <div class="jumbotron">
        <div class="heading">
            <h3>DESTINATION</h3>
            <h1>CAMPGROUND</h1>
        </div>
    </div>

    <div class="fiter">
        <form action="/campgrounds/q" method="GET">
            <input type="text" placeholder="Search" name="search">
            <button><i class="search icon"></i></button>
        </form>
    </div>

    <div class="lists">

        <!-- Add new card for each camp -->
        <% for (var i = 0; i < grounds.length; i++) { %>
            <a href="/campgrounds/<%= grounds[i]._id %>">
                <div class="card">
                    <img class="image" src="<%= grounds[i].image %>" alt="Campground Image">
                    <div class="info">
                        <div class="name-cost">
                            <span><%= grounds[i].name %></span>
                            <span>$<%= grounds[i].cost %></span>
                        </div>
                        <% if (grounds[i].comments.length > 0) { %>
                            <span class="rating"><%= Math.round(grounds[i].rating / grounds[i].comments.length) %> Stars</span>
                        <% } else { %>
                            <span class="rating">0 Stars</span>
                        <% } %>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
    
<%- include("../partials/footer") %>