<%- include("../partials/header") %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/forms.css">
</head>
<body>

    <%- include("../partials/navbar") %> 
    
    <div class="new-cg">
        <h1>EDIT CAMPGROUND</h1>

        <form action="/campgrounds/<%= ground._id %>?_method=PUT" method="POST">
            <label for="CGname"> Campground Name 
                <input type="text" name="campground[name]" id="CGname" value="<%= ground.name %>" required>
            </label>

            <label for="imageUrl"> Campground Image Url
                <input type="text" name="campground[image]" id="imageUrl" value="<%= ground.image %>" required>
            </label>

            <label for="desc"> Description <sup>*</sup>
                <textarea name="campground[description]" id="desc" required><%= ground.description %></textarea>
            </label>

            <label for="rate"> Pricing/day
                <input type="text" name="campground[cost]" id="rate" value="<%= ground.cost %>" required>
            </label>

            <label for="windowOpen"> Booking Open Month <sup>*</sup>
                <input type="text" name="campground[bookingStart]" id="windowOpen" value="<%= ground.bookingStart %>" required>
            </label>

            <label for="windowClose"> Booking Close Month <sup>*</sup>
                <input type="text" name="campground[bookingClose]" id="windowClose" value="<%= ground.bookingClose %>" required>
            </label>

            <label for="no"> Contact <sup>*</sup>
                <input type="text" name="campground[contact]" id="no" value="<%= ground.contact %>" required>
            </label>

            <label for="location"> Location <sup>*</sup>
                <input type="text" name="campground[location]" id="location" value="<%= ground.location %>" required>
            </label>

            <label for="amenities">Amenities <span style="font-size: 14px; font-family: Ubuntu; font-weight: lighter; color: rgb(90, 90, 90);">(Sepertaed by comma)</span> <sup>*</sup>
                <input type="text" name="campground[amenities]" id="amenities" value="<%= ground.amenities %>" required>
            </label>

            <input type="submit" value="SUBMIT">
        </form>
    </div>

<%- include("../partials/footer") %> 